version: '3'

services:
  server:

    image: biohackerellie/bunmail:latest
    container_name: BunEmailServer
    restart: unless-stopped
    ports:
      - '6969:6969'
    environment:
      API_KEY: ${API_KEY}
      EMAIL_USER: ${EMAIL_USER}
      EMAIL_PASSWORD: ${EMAIL_PASSWORD}
      ALLOWED_DOMAINS: ${ALLOWED_DOMAINS}

      # --- For Oauth2 ---
      OAUTH: ${OAUTH}
      CLIENT_ID: ${CLIENT_ID}
      CLIENT_SECRET: ${CLIENT_SECRET}
      REFRESH_TOKEN: ${REFRESH_TOKEN} #Optional
      ACCESS_TOKEN: ${ACCESS_TOKEN} #Optional
